<div class="display">
  <video #videoRef class="video" loop hidden="hidden">
    <source [src]="actualVideo ? getFile(actualVideo.bg) : ''" type="video/mp4">
  </video>

  <canvas #canvasRef></canvas>

  <audio #audioRef controls>
    <source [src]="actualVideo ? getFile(actualVideo.sg) : ''" type="audio/mpeg">
  </audio>

  <i class="loading fa fa-spinner fa-spin fa-3x fa-fw" *ngIf="loading"></i>

  <span class="legenda" *ngIf="legenda">{{ legenda }}</span>

  <!-- <span class="btn-back" (click)="previous()" *ngIf="showPrevious">
    <i class="fa fa-backward fa-2x"></i>
  </span>

  <span class="btn-next" (click)="next()" *ngIf="showNext">
    <i class="fa fa-forward fa-2x"></i>
  </span> -->
</div>


<div class="others-videos">
  <div class="previous" (click)="previous()" *ngIf="showPrevious">
    <img [src]="getFile(previousVideo.im)" alt="previousVideo.name" />
    <div class="txt"><i class="fa fa-backward"></i> Anterior</div>
  </div>

  <div class="next" (click)="next()" *ngIf="showNext">
    <img [src]="getFile(nextVideo.im)" alt="nextVideo.name" />
    <div class="txt">Próximo <i class="fa fa-forward"></i> </div>
  </div>

  <button class="btn-back-to-list" [routerLink]="['/']">
    <i class="fa fa-list"></i> Voltar para a lista
  </button>
</div>

