<div class="display">
  <video #videoRef class="video" loop hidden="hidden">
    <source [src]="getFile(video.bg)" type="video/mp4">
  </video>

  <canvas #canvasRef></canvas>

  <audio #audioRef controls>
    <source [src]="getFile(video.sg)" type="audio/mpeg">
  </audio>

  <span class="legenda" *ngIf="legenda">{{ legenda }}</span>
</div>


<span class="btn-back" (click)="previous()" *ngIf="showPrevious">
  <i class="fa fa-backward fa-2x"></i>
</span>
<span class="btn-next" (click)="next()" *ngIf="showNext">
  <i class="fa fa-forward fa-2x"></i>
</span>

<button class="btn-back-to-list" [routerLink]="['/']">
  <i class="fa fa-arrow-left"></i> Voltar para a lista
</button>